{% extends 'base.html' %}
{% block title %}
    文章详情页
{% endblock %}

{% block style %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="container" style="padding: 20px">
        <div class="card w-95 mb-3" style="padding: 7px;margin-top: 15px;overflow: hidden">
            <p>发布时间:{{ article.pdatetime }}&nbsp;&nbsp;所属类别:{{ article.article_type.typename }}</p>
            <p><i class="bi bi-check-circle" id="click_"></i>点击量:{{ article.click_num }} &nbsp;&nbsp;
                <i class="bi bi-star" id="star"></i>收藏量:{{ article.save_num }}&nbsp;
                <i class="bi bi-hand-thumbs-up" id="loveit"></i><span id="love-count">点赞量:{{ article.love_num }}</span></p>
            <p>作者:{{ article.user.username }}&nbsp;&nbsp</p>
            {#            <h3 style="color: #30423b"><a href="{{ url_for("article.detail") }}?article_id={{ article.id }}">{{ article.title }}</a></h3>#}
            <h3>{{ article.title }}</h3>
            <div class="contentraw">
                {{ article.content }}
            </div>
        </div>
        <hr>
    <h4>评论💬:</h4>
    {% if g.userme %}
        <div>
            <form action="{{ url_for('article.addcomment') }}" method="post">
                <input type="hidden" name="articleid" value="{{ article.id }}"> <!--做一个隐藏的表单域来传递文章id-->
                <p>
                    <textarea name="mycomment" id="myc" cols="40" rows="5" placeholder="留下你的精彩评论🤩"></textarea>
                </p>
                <button type="button" id="subbtn" class="btn btn-success"
                        onclick="document.getElementById('submitcomm').click()">发布</button>
                <p><input type="submit" id="submitcomm" style="display: none"></p>
            </form>
        </div>
        {% else %}
        <div style="margin-bottom: 8px">
            <a href="{{ url_for('user.login') }}" class="btn btn-primary">点我登录后即可发表评论😉</a>
        </div>
    {% endif %}
    <div style="background-color: #646f7a;padding: 20px;border-radius: 4px">
    {% if pagination.items %}
        {% for comm in pagination.items %}
            <div style="background-color:#ffffff;padding: 5px;border-radius: 4px; margin-bottom:6px;">
                <img src="{% if comm.user.icon %}{{ url_for('static',filename=comm.user.icon) }}{% else %}{{ url_for('static',filename='imgs/touxiang.png') }}{% endif %}" style="border-radius: 100%;width: 40px;height: 40px ; margin-right: 10px">
                <p><span>用户名:{{ comm.user.username }}</span>&nbsp;&nbsp;<span>{{ comm.cdatetime }}</span></p>
                <p>评论内容:<br>{{ comm }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div style="background-color:#ffffff;padding: 5px;border-radius: 4px; height: 60px">
            <h4>暂无评论，快来抢沙发!!!😉</h4></div>
        </div>
    {% endif %}
    </div>
    {% if pagination.items %}
    <nav aria-label="Page navigation example" class="col-md-6 offset-md-5">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" {% if pagination.has_prev %}
                       href="{{ url_for('article.detail') }}?page={{ pagination.prev_num }}&article_id={{article.id}}"{% else %}href="{{ url_for('article.detail') }}?page=1&article_id={{article.id}}{% endif %}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in range(1,pagination.pages + 1) %}
                    <!--important:pagination.page获取当前所在页,如果当前所在页和对应的p页码数一样，那就显示激活状态-->
                    <li {% if pagination.page == p %} class=" page-item active"{% else %}
                                                      class="page-item"  {% endif %}><a class="page-link"
                                                                                        href="{{ url_for('article.detail') }}?page={{ p }}&article_id={{article.id}}">{{ p }}</a>
                    </li>
                {% endfor %}

                <a class="page-link" {% if pagination.has_next %}
                   href="{{ url_for('article.detail') }}?page={{ pagination.next_num }}&article_id={{article.id}}"
                   {% else %}href="{{ url_for('article.detail') }}?page=1&article_id={{article.id}}"{% endif %} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
        {% else %}
        <div></div>
    {% endif %}
    </div>
{% endblock %}

{% block myjs %}
    {{ super() }}

    <script>
        /*处理的是富文本文档的显示*/
        $(document).ready(function () {
            $('.contentraw').each(function () {
                let $div = $(this);
                let text = $div.text().trim(); // 获取文本内容（自动解码 HTML 实体）

                // 去掉首尾的双引号或单引号
                //important:这里用的是正则表达式来匹配开头和结尾的单引号和双引号,刚好能让被引号包含的HTML标签生效
                let cleaned = text.replace(/^["']|["']$/g, '');

                // 设置为 HTML（因为内容是 HTML 标签）
                $div.html(cleaned);
            });



            /*下面处理的是各个文字图标的状态*/

            $('#click_').hover(function (){
                 $(this).toggleClass('bi-check-circle bi-check-circle-fill text-success')
            }

            );
            $('#star').hover(function () {
                // 在鼠标悬停时切换到 'bi-star-fill' 和 'text-danger'
                $(this).toggleClass('bi-star bi-star-fill text-success');
            });
            $('#loveit').hover(
                function (){
                    $(this).toggleClass('bi-hand-thumbs-up bi-hand-thumbs-up-fill text-danger')
                }
            );

            /*点赞的实现*/
            $('#loveit').click(function (e){
                e.preventDefault();
                $.get('{{ url_for('article.love') }}',{artid:{{article.id}}},function (data){
                    if(data.success){
                        $('#love-count').text('点赞量:'+data.num)
                        $('#loveit').toggleClass('bi-hand-thumbs-up bi-hand-thumbs-up-fill text-danger')
                    }

                }).fail(function (){
                    alert('点赞失败,请登录后重新尝试')
                })
            })

        });


    </script>
{% endblock %}