{% extends 'base.html' %}
{% block title %}
    用户中心
{% endblock %}
{% block page_content %}
    <div class="container" style="padding: 30px">
        <div>用户名{{ current_user() }}</div>
{#        <p><img src="{% if userme.icon %}{{ url_for('static',filename=userme.icon) }}{% else %}{{ url_for('static',filename='imgs/touxiang.png') }}{% endif %}" alt="头像"#}
{#                style="width: 70px;height: 70px ;margin-bottom: 4px"><br>#}
{#            </p>#}
        <form action="{{ url_for('user.usercenter') }}" method="post" enctype="multipart/form-data"> <!--注意,如果表单中有图片路径等的话要使用enctype-->
            <p><img src="{% if g.userme.icon %}{{ url_for('static',filename=g.userme.icon) }}{% else %}{{ url_for('static',filename='imgs/touxiang.png') }}{% endif %}" alt="头像"
                style="width: 70px;height: 70px ;"><br>
            </p>
            <p><input type="file" id="upyourtouxiang" name="icon" placeholder="选择头像"><br>头像支持'jpg', 'png', 'svg', 'gif', 'bmp'格式</p>
            <p><input type="text" name="userme" value="{{ current_user() }}" contenteditable="false"
                      hidden="hidden"></p>
            <p><input type="text" name="newusername" placeholder="输入新的用户名"></p>
            <p><input type="text" id='000' name="password" placeholder="新密码"></p>
            <p><input type="text" id='001' name="repassword" placeholder="再次输入新密码"></p>
            <p><input type="text" name="phone" placeholder={{ userme.phone }}></p>
            <p><input type="submit"></p>
        </form>
    </div>
    <p>{{ errorinfo }}</p>

{% endblock %}

{% block myjs %}

{% endblock %}